@using BookingSystem.DataModel.Master.Menu;
@model List<IndexMenu>

<nav class="navbar">
    @if(Model !=null){
        @foreach (var header in Model.Where(m => m.IsHeader > 0))
        {
            <div class="header">@header.Name</div>
                @foreach (var item in Model.Where(m => m.IsHeader == 0 && m.Sequence == header.Sequence ))
                {
                <a class="body" asp-controller=@item.Functions asp-action="Index">@item.Name</a>
                }
        }
    }

</nav>
